[submodule "libcap"]
	path = libcap
	url = git://git.kernel.org/pub/scm/linux/kernel/git/morgan/libcap.git
[submodule "lxc"]
	path = lxc
	url = https://github.com/lxc/lxc
[submodule "lxc-templates"]
	path = lxc-templates
	url = https://github.com/lxc/lxc-templates
[submodule "debootstrap"]
	path = debootstrap
	url = https://salsa.debian.org/installer-team/debootstrap
[submodule "perl-cross"]
	path = perl-cross
	url = https://github.com/arsv/perl-cross
[submodule "perl5"]
	path = perl5
	url = https://github.com/Perl/perl5.git
[submodule "https://dev.gnupg.org/source/libgpg-error.git"]
	path = https://dev.gnupg.org/source/libgpg-error.git
	url = libgpg-error
[submodule "libgpg-error"]
	path = libgpg-error
	url = https://dev.gnupg.org/source/libgpg-error.git
[submodule "libassuan"]
	path = libassuan
	url = https://dev.gnupg.org/source/libassuan.git
[submodule "libgcrypt"]
	path = libgcrypt
	url = https://dev.gnupg.org/source/libgcrypt.git
[submodule "libksba"]
	path = libksba
	url = https://dev.gnupg.org/source/libksba.git
[submodule "npth"]
	path = npth
	url = https://dev.gnupg.org/source/npth.git
[submodule "ntbtls"]
	path = ntbtls
	url = https://dev.gnupg.org/source/ntbtls.git
[submodule "ncurses"]
	path = ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "pinentry"]
	path = pinentry
	url = https://dev.gnupg.org/source/pinentry.git
[submodule "gnupg"]
	path = gnupg
	url = https://dev.gnupg.org/source/gnupg.git
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
